# General
*.pdf
*.doc
*.docx
*.png

# vim file
*.swp
.ycm_extra_conf.py

# Qt
*.pro.user
*.ui


# Deep Learning {{{
# 
deep_learning/task1/pictures
deep_learning/task2
deep_learning/task3
deep_learning/task4

# }}}


# Computer Graphics {{{
# 
# task 1 {{{
computer_graphics/task1/doc/demo
computer_graphics/task1/bin
# computer_graphics/task1/src/GraffitiBoard.pro.user
computer_graphics/task1/src/resources
computer_graphics/task1/pub
# }}}

# task 2 {{{
computer_graphics/task2/data
computer_graphics/task2/doc
computer_graphics/task2/pub
computer_graphics/task2/src/py
computer_graphics/task2/src/cpp/bin
computer_graphics/task2/src/cpp/ImageWarping/warping/Eigen
# }}}

# task 3 {{{
computer_graphics/task3
# }}}

# task 4 {{{
computer_graphics/task4/data
computer_graphics/task4/doc
computer_graphics/task4/pub
computer_graphics/task4/src/bin
# add some options to let ycm work with triangle
!computer_graphics/task4/src/.ycm_extra_conf.py
# }}}

# task 5 {{{
computer_graphics/task5/data
computer_graphics/task5/doc
computer_graphics/task5/pub
computer_graphics/task5/bin
computer_graphics/task5/src/bin
computer_graphics/task5/src/MinimalSurfaces/libs
# }}}

# }}}


# compiler {{{
compiling/calculator/*
!compiling/calculator/calculator.l
!compiling/calculator/calculator.y
compiling/calculator/Makefile

compiling/lex
compiling/yacc
# }}}
