# General
*.pdf
*.doc
*.docx

# vim swap file
*.swp

# Deep Learning
deep_learning/task1/pictures


# Computer Graphics
computer_graphics/task1/doc/demo
computer_graphics/task1/bin
computer_graphics/task1/src/GraffitiBoard.pro.user
computer_graphics/task1/src/resources
computer_graphics/task1/pub
