# General
*.pdf
*.doc
*.docx
*.png

# vim swap file
*.swp

# Deep Learning
deep_learning/task1/pictures


# Computer Graphics
computer_graphics/task1/doc/demo
computer_graphics/task1/bin
computer_graphics/task1/src/GraffitiBoard.pro.user
computer_graphics/task1/src/resources
computer_graphics/task1/pub

computer_graphics/task2/data
computer_graphics/task2/doc
computer_graphics/task2/src/py
computer_graphics/task2/src/cpp/bin
computer_graphics/task2/src/cpp/ImageWarping/.ycm_extra_conf.py
computer_graphics/task2/src/cpp/ImageWarping/ImageWrapping.pro.user
computer_graphics/task2/src/cpp/ImageWarping/MainWindow.ui
computer_graphics/task2/src/cpp/ImageWarping/warping/Eigen
